<body>
    <div class="ar">
        <h2>بالتأكيد يمكنكم دائماً مراسلتنا</h2>
        <div class="box"></div>
        <h3>ونتمنى أن يكون تواصلكم بشأن:</h3>
        <p>اقتراح لتطوير الموقع.</p>
        <p>مشكله تواجهكم في تصفح الموقع.</p>
        <p>التواصل من اجل ربط أفكار.</p>
        <p>تقديم شوى في محتوى ينتهك سياسة النشر.</p>
        <p>التواصل من اجل التسويق.</p>
        <p>إرسال مقالات للنشر.</p>
        <div class="box"></div>
        <h3>للتواصل عبر البريد الإلكتروني: realmadridspy@outlook.com</h3>
        <div class="box"></div>
    </div>
</body>