<body>
    <div class="en">
        <h2>DMCA</h2>
        <p>https://realmadridspy.com is an Online Service Provider under Title II of the Digital Millennium Copyright Act, 17 U.S.C. Section 512 (“DMCA”).</p>
        <p></p>
        <p>We treat every abuse very seriously. If you wish to report a copyright infringement you have to do so properly in accordance with DMCA procedure.</p>
        <p></p>
        <p>You must provide valid proof of ownership for the items suspected of violation.</p>
        <p></p>
        <p>Provide us with contact information such as telephone, email and address.</p>
        <p></p>
        <p>Provide links or other information so we can identify exactly which items are in question.</p>
        <p></p>
        <p>To file your DMCA report, your valid DMCA Notice must be sent to our abuse email at: testgmail@gmail.com</p>
        <p></p>
        <p>Once we receive a report and the information you have provided can be verified, the offending material will be deleted within hours.</p>
        <p></p>
        <p>Please notice that we do not allow copying a part or full text or media from our site without a previous written permission, otherwise realmadridspy.com has all legal rights to protect its intellectual property</p>
        <p></p>
       
    </div>
    <div class="ar">
        <h2>حقوق الملكية</h2>
        <div class="box"></div>
        <p>realmadridspy.com  هو موقع إنترنت يقدم خدماته توافقا مع بند ٢ من قانون حق المؤلف للألفية الرقمية، 17 U.S.C. القسم 512 (“DMCA”).</p>
        <p>ولذلك نتعامل مع أي بلاغ مقدم بسبب انتهاك حقوق الملكية الفكرية على الموقع بشكل بالغ الجدية</p>
        <p>وعليه لا يسمح بنسخ أو نقل أي من محتويات الموقع كتابياً أو وسائط بدون إذن كتابي مسبق من الموقع، ويحق للموقع اتخاذ كافة الإجراءات القانونية اللازمة للحفاظ على حقوقه الفكرية.</p>
        <p>أما في حال وجدتم أي محتوى على realmadridspy.com ينتهك حقوق الملكية الفكرية الخاصة بكم بشكل أو بآخر، فنرجو منكم التواصل من خلال إرسال رسالة عبر <a (click)="gotocontactus()">النموذج من هنــا</a>، وتوضيح في طلبكم كيف تم خرق حقوق الملكية الخاصة بكم وإرسال الرابط الخاص بالموقع تحديداً الذي به انتهاك لحقوقكم الفكرية، وسوف نوافيكم برد واضح حول الموقف وحذف أي خرق أو انتهاك لمادتكم الفكرية.</p>
        <div class="box"></div>
    </div>
</body>